//-
   Mentor dashboard index
extends _layout-mentor

block mentor_content
    +contentHeading("dashboard home")

    p welcome back, #{mentor.name.first}

    +contentHeading("mentor information")

    br
    +showMessages(messages)

    +contentHeading("Mentor Requests Queue")

    +sectionHeading("Overview")

    p
        | welcome to your mentor requests queue
        | . a request has two possible statuses:
    span.unclaimed
        | Unclaimed:
    |  A request that you may claim below and then visit the student's location to help them.
    br
    span.claimed
        | Claimed:
    |  A request that has been claimed, and the mentor who claimed it will be shown.
    br

    .header-wrapper
        .mentorRequests
          h2.page-title unclaimed requests
          table#mentorRequests-table.table.table-striped
              tr
                  th Email
                  th Description
                  th Location
                  th Claim

            for mentorRequest in mentorRequests
                tr(data-request=mentorRequest.id)
                    td #{mentorRequest.user.name.first}
                    td #{mentorRequest.user.email}
                    td #{mentorRequest.description}
                    td #{mentorRequest.location}
                    if (mentorRequest.status == 'Unclaimed')
                        td
                            button.btn.btn-primary.btn-claim.btn-danger.role claim
                    else
                        td.claimed
                            if (mentorRequest.mentor.id == mentor.id)
                                | Claimed by you!
                            else
                                | Claimed by #{mentorRequest.mentor.name.first} from #{mentorRequest.mentor.company}!

block footer
    script(src="/socket.io/socket.io.js")
    script(src="/js/mentor.js")