//-
   Admin index page

extends _layout-admin

block append admin_content
    +contentHeading("Dashboard")

    +showMessages(messages)

    if !input
        - input = {}

    //- Nav tabs
    ul.nav.nav-tabs(role='tablist')
        li.active(role='presentation')
            a(href='#summary', aria-controls='summary', role='tab', data-toggle='tab') Summary
        li(role='presentation')
            a(href='#top-schools', aria-controls='top-schools', role='tab', data-toggle='tab') Top Schools
        li(role='presentation')
            a(href='#announcements', aria-controls='announcements', role='tab', data-toggle='tab') Announcements

    //- Tab panes
    .tab-content
        #summary.tab-pane.active(role='tabpanel')
            h2 Applicants
            h5 Welcome back! There are currently
            ul
                li #{applicants.pending} pending review
                li #{applicants.accepted} accepted
                li #{applicants.waitlisted} waitlisted
                li #{applicants.rejected} rejected
            //- Our max capacity is 410 people. With an estimated 10% attrition rate, we should accept 450 people.
            h2 Attendees
            span Out of #{applicants.accepted} we accepted:
                ul
                    li #{rsvps.true} accepted their invitations
                    li #{rsvps.false} declined their invitations
                    li #{rsvps.null} have not responded
            h2 Notify Decisions
            p Send an email notifying application decisions to all who have not received their latest decision.
            form#notify-form(method='post', action='/api/admin/rollingDecision')
                .form-group.np-enabled
                    button#notifyMake.btn.btn-blue(type='submit') Announce
            span Will affect #{decisionAnnounces} people.
        #top-schools.tab-pane(role='tabpanel')
            table.table.table-striped
                tr
                    th Rank
                    th School Name
                    th.text-center Applicants
                    th.text-center Accepted
                    th.text-center Waitlisted
                    th.text-center Rejected
                    th.text-center Pending
                for school, i in schools
                    - var done = (school.total == school.accepted + school.waitlisted + school.rejected);
                    tr
                        td(class=done ? "success": "")= i+1
                        td: h: a.low-vis(href="/admin/search?collegeid="+school.collegeid+"&college="+school.name,target="_blank") #{school.name}
                        td.text-center= school.total
                        td.text-center= school.accepted
                        td.text-center= school.waitlisted
                        td.text-center= school.rejected
                        td.text-center= school.pending
        #announcements.tab-pane(role='tabpanel')
            form#announcement-form(method='post', action='/api/admin/announcements')
                h2 Make an Announcement
                p Post a new announcement to website, mobile, and social media.
                .form-group
                    label Announcement to post
                    input.form-control#announcementInput(type='text', name='message', placeholder='ex: Soylent is about to give a tech talk in Uris G01!', value = input.message || '', required=true)
                .form-group
                    label Channels to announce on
                    br
                    label
                        input#web(type='checkbox', name='web', value='true', checked=true)
                        | &nbsp;Web
                    br
                    label
                        input#mobile(type='checkbox', name='mobile', value='true', checked=true)
                        | &nbsp;Mobile
                    br
                    label
                        input#facebook(type='checkbox', name='facebook', value='true', checked=false)
                        | &nbsp;Facebook
                    br
                    label
                        input#twitter(type='checkbox', name='twitter', value='true', checked=false)
                        | &nbsp;Twitter
                    br
                .form-group
                    button#announcementMake.btn.btn-blue(onclick="return confirm('Are you sure?')") Announce
        #messages.tab-pane(role='tabpanel') ...
        #settings.tab-pane(role='tabpanel') ...
