//-
   Reimbursement settings

extends _layout-admin

block admin_content
    +contentHeading("Reimbursement Settings")
    // Nav tabs
    ul.nav.nav-tabs(role='tablist')
        li.active(role='presentation')
            a(href='#roles', aria-controls='roles', role='tab', data-toggle='tab') Schools
    // Tab panes
    .tab-content
        #schools.tab-pane.active(role='tabpanel')
            h2 Manage Schools
            p Use this page to manage reimbursements for schools.
            #searchresults.col-md-12
                p#result-count.text-right #{reimbursements.length} results found.
                table#user-roles.table.table-striped
                    tr
                        th School Name
                        th Transportation Mode
                        th Reimbursement Amount
                        th(width='210px')
                    for rem in reimbursements
                        tr.school(data-collegeid=rem.college.id)
                            td= rem.college.name
                            td
                                form.form-inline
                                    .form-group
                                        select.modeDropdown.form-control(name="modeDropdown",data-revert=rem.mode, disabled=true)
                                            +generateOptions(enums.admin.travel_mode, {selected: rem.mode})
                            td
                                form.form-inline
                                    .form-group
                                        .input-group
                                            .input-group-addon $
                                            input.form-control.amount(type="number",name="amount",value=rem.amount,disabled=true)
                            td
                                button.btn.btn-primary.btn-edit.reimbursements(type="button") edit
                                button.btn.btn-success.btn-save.reimbursements(disabled=true,type="button") save
                                button.btn.btn-danger.btn-remove.reimbursements remove
                br
                form#new-reimbursement.form-inline
                    .form-group
                        label Add a School:
                    input#new-collegeid.form-control(type='hidden', name='collegeid', value='', required='')
                    .form-group
                        input#new-college.form-control.typeahead(type='text', name='college', placeholder='School Name', value='', required='')
                    .form-group
                        select#new-travel.form-control(name='travel', required='')
                            option(value='') Select
                            +generateOptions(enums.admin.travel_mode)
                    .form-group
                        .input-group
                            .input-group-addon $
                            input#new-amount.amount.form-control(type='number', name='amount', placeholder='amount')
                    .form-group
                        button#btn-add-school.btn.btn-success(type='button', disabled='')
                            | Create


block append footer
    script.
        //- todo fix in refactor
        //prevent form submission
        $('form').submit(function (e) {
            e.preventDefault();
            $("#btn-add-user").click();
        });
    script(src='/js/vendor/typeahead.bundle.min.js')
    script(src='/js/typeahead_college.js')
