//-
    Review applications

extends _layout-admin

block vars
    - user = currentUser || {}

block admin_content
    +contentHeading("Review Apps")
    .row.review-header
        .col-md-3
            h4 Overall:
            ul
                li Accepted #{stats.overall.accepted}
                li Waitlisted #{stats.overall.waitlisted}
                li Rejected #{stats.overall.rejected}
                li Pending #{stats.overall.pending}
        .col-md-3
            h4 From School:
            ul
                li Accepted #{stats.school.accepted}
                li Waitlisted #{stats.school.waitlisted}
                li Rejected #{stats.school.rejected}
                li Pending #{stats.school.pending}
        .col-md-3
            h4 Assigned to bus:
            ul
                li Accepted #{stats.bus_expl.accepted}
                li Waitlisted #{stats.bus_expl.waitlisted}
                li Rejected #{stats.bus_expl.rejected}
                li Pending #{stats.bus_expl.pending}
                if user.internal.busid === null
                    span *no bus
        .col-md-3
            h4 Proximity to bus:
            ul
                li Accepted: -
                li Waitlisted: -
                li Rejected: -
                li Pending: -
    .row.review-body
        include _usertemplate
        include _userteamtemplate
    .row.review-footer
        a.btn.btn-primary(href="/admin/review") Next Applicant #[i.fa.fa-long-arrow-right]
