//-
   General settings

extends _layout-admin

block vars
    - input = params || {}; //persist fields


block admin_content
    +contentHeading("Settings")

    // Nav tabs
    ul.nav.nav-tabs(role='tablist')
        li.active(role='presentation')
            a(href='#roles', aria-controls='roles', role='tab', data-toggle='tab') Manage Roles
    // Tab panes
    .tab-content
        #roles.tab-pane.active(role='tabpanel')
            h2 Manage Roles
            p
                | Use this page to assign users roles by email. Take care when making changes, as any changes are
                | effective immediately.
            #searchresults.col-md-12
                p#result-count.text-right
                table#user-roles.table.table-striped
                    tr
                        th Name
                        th Email
                        th Role
                        th(width='210px')
                    tr
                        td Configuration User
                        td= users[0].email
                        td admin
                        td
                    each user in users.splice(1)
                        tr.user(data-pubid=user.pubid)
                        td: a(href="/admin/user/"+user.pubid,target="_blank") #{user.name.first} #{user.name.last}
                        td.email= user.email
                        td
                            form.form-inline
                                .form-group
                                    select.roleDropdown.form-control(name="roleDropdown", data-revert=user.role,disabled=true)
                                        //- exclude user and set default value
                                        +generateOptions(enums.virtual.role.long, {selected: user.role})
                        td
                            button.btn.btn-primary.btn-edit.role edit
                            button.btn.btn-success.btn-save.role(disabled) save
                            button.btn.btn-danger.btn-remove.role remove
                form.form-inline
                    .form-group
                        label Add a User:
                    .form-group
                        input#new-email.form-control(type='email', name='new-email', placeholder='email')
                    .form-group
                        select#new-role.form-control(name='new-role', required=true)
                            +generateOptions(enums.virtual.role.long)
                    .form-group
                        button#btn-add-user.btn.btn-success(type='button') Create

block append footer
    script.
        //todo fix in refactor

        //prevent form submission
        $('form').submit(function (e) {
            e.preventDefault();
            $("#btn-add-user").click();
        });
    script(src='/js/vendor/typeahead.bundle.min.js')
    script(src='/js/typeahead_college.js')