//-
   detailed user view

extends _layout-admin
block prepend header
    link(href="/css/vendor/c3.css", rel="stylesheet")

block append admin_content
    if !input
        - input = {}
    +contentHeading("Stats")
    div#chart
    form#annotate(method='post', action='/api/admin/annotate')
        label Add an annotation (just the message, will use current time as annotation)
        .form-group
            input#annotation.form-control(type='text', name='annotation', placeholder='ex: Placed a message in a bottle.', value = input.info || '', required=true)
        .form-group
            button#resume-save.btn.btn-blue(type='submit') Add
    table#annotationlist.table.table-striped
        tr 
            th Annotation
            th Date Created
        for annotation in annotations
            tr
                td #{annotation.info}
                td #{annotation.time}

    h2 Major Distribution for RSVP'd
    table#majors-table.table.table-striped
        tr
            th Major
            th Quantity

        for major in majors
          tr
            td #{major.major}
            td #{major.count}

block append footer
    script(src='//d3js.org/d3.v3.min.js')
    script(src='/js/vendor/c3.min.js')
    script(type='text/javascript').
        var users =!{JSON.stringify(users)}
        var annotations =!{JSON.stringify(annotations)}
    script(src="/js/stats.js")
