//-
   Layout that extends global layout for dashboard pages
   * Content is extended through block dashboard_content

extends ../_global/_layout

mixin contentHeading(name)
    .header-wrapper-leaf
        h1.leaf #{name}

mixin sectionHeading(name)
    .header-wrapper
        h2.page-title #{name}

//Display flash messages from a flash message object
mixin showMessages(messages)
    if messages.error
        .alert.alert-danger(role="alert") #{messages.error[0].toLowerCase()}
    if messages.success
        .alert.alert-success(role="alert") #{messages.success[0].toLowerCase()}

block header
    link(href="/css/dashboard.css", rel="stylesheet")

block content
    if user
        - _pubid = user.pubid
    else
        - _pubid = ""

    .container-fluid
        .row(data-userpubid=_pubid)
            include _sidebar
            .content.col-sm-9.col-sm-offset-3.col-md-9.col-md-offset-3.col-lg-10.col-lg-offset-2
                block dashboard_content
block footer
    script(src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js")
    script(src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/additional-methods.min.js")
    script(src="/js/jquery.validate.options.js")
    script(src="//cdn.socket.io/socket.io-1.2.0.js")
    script(src='/js/vendor/jquery.filepicker.min.js')
    script(src="/js/dashboard.js")
