//
   Dashboard Edit app

extends ../_global/_registration

mixin contentHeading(name)
    .header-wrapper-leaf
        h1.leaf #{name}

block header
    link(href="/css/dashboard.css", rel="stylesheet")

block vars
    - var actionUrl = "/user/dashboard/edit"; //- url the form should submit to
    - var multipart = false; //- whether the form has multipart data

    - var fluid = true; //- full content wrapped by container-fluid
    - var contentFormAttr = {class:"content col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2"};

block navbar
    include _sidebar


block append description
    +contentHeading("Edit application")

block append account-information
    .form-group
        label(for='email') email address *
        input#email.form-control.not-cornell(type='email', name='email', value=user.email, readonly=true)
    .form-group
        label(for='password') change password *
        input#password.form-control(type='password', name='password', placeholder='password')

block append basic-information
    .form-group
        label(for='firstname') first name *
        input#firstname.form-control(type='text', name='firstname', value=user.name.first,  readonly=true)
    .form-group
        label(for='lastname') last name *
        input#lastname.form-control(type='text', name='lastname', value=user.name.last, readonly=true)
    .form-group
        label(for='phonenumber') phone number *
        input#phonenumber.form-control(type='text', name='phonenumber', placeholder='XXX-XXX-XXXX', value=user.phone, required=true)
    .form-group
        label(for='genderDropdown') gender *
        select#genderDropdown.form-control(name='genderDropdown', required=true)
            option(value='') select
            +generateOptions(en.gender, {selected: user.gender})

block append school
    .form-group
        label(for='college') full school name *
        br
        input#college.form-control.typeahead(type='text', name='college',value=user.school.name, readonly=true)
    .form-group
        label(for='yearDropdown') academic year *
        select#yearDropdown.form-control(name='yearDropdown', readonly=true)
            option(value='') select
            +generateOptions(en.year, {selected: user.school.year})
    .form-group
        label(for='major') major *
        input#major.form-control(type='text', name='major', placeholder='major', value=user.school.major, readonly=true)

block append background
    .form-group
        label tell us something interesting about yourself. *
        textarea#q1.form-control(name='q1', rows='4', required='') #{user.app.questions.q1}
    .form-group
        label what's a cool project that you've worked on? *
        textarea#q2.form-control(name='q2', rows='4', required='') #{user.app.questions.q2}
    .form-group
        label(for='github') github profile
        .input-group
            .input-group-addon @
            input#github.form-control(type='text', name='github', placeholder='johndoe', value=user.app.github)
    .form-group
        label(for='linkedin') linkedIn profile
        .input-group
            .input-group-addon http://
            input#linkedin.form-control(type='text', name='linkedin', placeholder='www.linkedin.com/', value=user.app.linkedin)
    .form-group
        label(for='experienceDropdown') is this your first hackathon? *
        select#experienceDropdown.form-control(name='experienceDropdown', required='')
            option(value='') select
            +generateOptions(en.experience, {selected: user.app.experience})

block append logistics
    .form-group
        label(for='dietary') dietary restrictions *
        select#dietary.form-control(name='dietary', required='')
            option(value='') select
            +generateOptions(en.dietary, {selected: user.logistics.dietary})
    .form-group
        label(for='tshirt') t-shirt size *
        select#tshirt.form-control(name='tshirt', required='')
            option(value='') select
            +generateOptions(en.tshirt, {selected: user.logistics.tshirt})
    .form-group
        label is there anything else you'd like to tell us?
        textarea#anythingelse.form-control(name='anythingelse', rows='2') #{user.logistics.anythingelse}

//- noop blocks
block no-terms

