//-
   User dashboard

extends _layout-dashboard

block dashboard_content
    +contentHeading("Dashboard")

    +showMessages(messages)

    p welcome back, #{user.name.first} #{user.name.last}.
    br

    +sectionHeading("status")
    if middlehelp.isRegistrationOpen()
        p registration process is still open.
    else
        p registration process is closed.

    +sectionHeading("my team")
    div
        if middlehelp.isRegistrationOpen()
            p you may add up to 4 team members. cornell students do not have a team id, click the checkbox instead.
            form.form-inline(action='/user/team/add', method='POST')
                label enter teammate id
                span.label-helper me: #{user.pubid}
                br
                .form-group.has-error
                    label.sr-only(for='addteamid') enter teammate id
                    input#addteamid.form-control(type='text', name='userid', placeholder='user id')
                button#addteamid-submit.btn.btn-red(type='submit', disabled='') add a teammate
        ul.team-list
            if team.length == 0
                if middlehelp.isRegistrationOpen()
                    p You are not in a team.
            else
                for member in team
                    li= member.name
        if middlehelp.isRegistrationOpen()
            if team.length > 0
                a.btn.btn-red(href="/user/team/leave") Remove yourself from this team.
    if middlehelp.isRegistrationOpen()
        .form-group
            .checkbox
                label
                    input#cornellteamcheck.checkbox(type="checkbox",value="",checked=user.internal.teamwithcornell)
                    | I plan to work with (a) Cornell student(s).

    +sectionHeading("resume")
    a.btn.btn-red(href=resumeLink, target='_blank') view my resume
    button#resume-update.btn.btn-red update my resume
    br
    br
    form#resume-form.form-inline(method='post', action='/user/updateresume', style='display:none', enctype='multipart/form-data')
        label upload a new resume (.pdf)
        br
        .form-group.has-error
            input#resumeinput.form-control.filepicker-bootstrap(data-label='upload', type='file', name='resumeinput', accept='.pdf', required='')
        .form-group
            button#resume-save.btn.btn-red(type='submit', disabled='') Save
