<% include ../_header %>
<body>
<div class="container-fluid">
    <div class="row" data-userpubid="<%= user.pubid %>">
        <% include _dashboardside.ejs %>
        <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2">
            <div class="header-wrapper-leaf">
                <h1 class="leaf">list of mentors</h1>
            </div>
            <div class="companies">
                <% var currentMentor = 0; %>
                <% for (var i = 0; i < companyCount.length; i++) { %>
                <div class="company">
                    <div class="companyname">
                        <h2><%= companyList[i] %> <img class="mentor-company-logo" src="<%= companyImages[i] %>"
                                                       alt="<%= companyList[i] %>"
                                                       id="<%= companyList[i].toLowerCase() %>image"></h2>
                    </div>
                    <% if (companyCount[i] == 0) { %>
                    <div class="nomentors">
                        <p>There are currently no registered mentors for this organization.</p>
                    </div>
                    <% } else { %>
                    <% for (var j = 0; j < companyCount[i]; j++) { %>
                    <div class="mentorinfo">
                        <h3><%= mentors[currentMentor].name.first %> <%= mentors[currentMentor].name.last %></h3>
                        <ul class="skillsandbio">
                            <li class="skills">
                                <b>Skills: </b>
                                <ul class="skillslist">
                                    <% for (var k = 0; k < mentors[currentMentor].mentorinfo.skills.length; k++) { %>
                                    <li class="skill">
                                        <%= mentors[currentMentor].mentorinfo.skills[k] %>
                                    </li>
                                    <% } %>
                                </ul>
                            </li>
                            <li class="bio">
                                <b>Bio: </b>

                                <p><%= mentors[currentMentor].mentorinfo.bio %></p>
                            </li>
                        </ul>
                    </div>
                    <% currentMentor = currentMentor + 1; %>
                    <% } %>
                    <% } %>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/additional-methods.min.js"></script>
<script src="/js/jquery.validate.options.js"></script>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="/js/dashboard.js"></script>
<% include ../_footer %>