<% include ../_header %>
<body>
<div class="container-fluid">
    <div class="row" data-userpubid="<%= user.pubid %>">
        <% include _dashboardside.ejs %>
        <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2">
            <div class="header-wrapper-leaf">
                <h1 class="leaf">ask for help</h1>
            </div>
            <div class="header-wrapper">
                <legend class="page-title">your requests</legend>
            </div>
            <% if (mentorRequests.length == 0) { %>
            <h3 id="norequests"> You have not sent any mentor requests yet. </h3>
            <% } else { %>
            <div id="usermentorrequests">
                <% for (var i = 0; i < mentorRequests.length; i++) { %>
                <div class="mentorrequestbox" data-mentorrequestpubid="<%= mentorRequests[i].pubid %>">
                    <div class="mentorrequestboxtitle">
                        Request from <%= mentorRequests[i].user.name %>
                    </div>
                    <div class="requeststatus">
                        <h3>
                             Status of Request:
                             <span class="<%= mentorRequests[i].requeststatus.toLowerCase() %>"><%= mentorRequests[i].requeststatus %></span><% if (mentorRequests[i].requeststatus == "Unclaimed") { %>, # Matching Mentors:
                             <span class="nummatchingmentors"><%= mentorRequests[i].nummatchingmentors %></span>
                             <% } %>
                        </h3>
                    </div>
                    <ul class="requestinfo">
                        <li class="description">
                            <b>Description of Request: </b>
                            <span class="long-text description"><%= mentorRequests[i].description %></span>
                        </li>
                        <li class="desiredskills">
                            <b>Desired Skills: </b>
                            <ul class="skillslist">
                            <% for (var j = 0; j < mentorRequests[i].skills.length; j++) { %>
                            <li class="skill">
                                <%= mentorRequests[i].skills[j] %>
                            </li>
                            <% } %>
                            </ul>
                        </li>
                        <li class="location">
                            <b>Location of User: </b> <%= mentorRequests[i].location %>
                        </li>
                        <li class="mentor">
                            <b>Mentor: </b>
                            <% if (mentorRequests[i].mentor.name == null) { %>
                            None
                            <% } else { %>
                            <%= mentorRequests[i].mentor.name %> (<%= mentorRequests[i].mentor.company %>)
                            <% } %>
                        </li>
                    </ul>
                    <% if (mentorRequests[i].requeststatus == "Unclaimed") { %>
                    <div class="changerequeststatus">
                        <input type="button" value="cancel request" name="cancelrequest"
                            class="cancelrequest btn btn-danger">
                    </div>
                    <% } else if (mentorRequests[i].requeststatus == "Claimed") { %>
                    <div class="changerequeststatus">
                        <input type="button" value="set request as completed" name="completerequest"
                            class="completerequest btn btn-success">
                    </div>
                    <% } %>
                </div>
                <% } %>
            </div>
            <% } %>
            <div class="header-wrapper">
                <legend class="page-title">send new request</legend>
            </div>
            <form id="requestmentorform" action="" autocomplete="off">
                <div id="newrequest">
                    <div class="form-group">
                        <label for="requestdescription" class="newrequestlabel"><h4>Description of Request</h4></label>
                        <textarea id="requestdescription" name="requestdescription" class="form-control" rows="5"
                        required/></textarea>
                    </div>
                    <div class="form-group">
                        <label for="requestskills" class="newrequestlabel">
                        <h4>Desired Skills (comma-separated (ex: java, python, web applications, etc.))</h4>
                        </label>
                        <input type="text" name="requestskills" id="requestskills" class="form-control" value=""
                        required/>
                    </div>
                    <div class="form-group">
                        <label for="requestlocation" class="newrequestlabel">
                        <h4>Location of User (ex: Seat Number, Area Number, etc.)</h4>
                        </label>
                        <input type="text" name="requestlocation" id="requestlocation" class="form-control" value=""
                        required/>
                    </div>
                    <div id="createrequest">
                        <input type="submit" value="send request" name="sendrequest" class="btn btn-primary">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/additional-methods.min.js"></script>
<script src="/js/jquery.validate.options.js"></script>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="/js/dashboard.js"></script>
<% include ../_footer %>