//-
   General registration page

extends _layout-registration

block vars
    - var actionUrl = "/mentor/register"; //- url the form should submit to
    - var multipart = true; //- whether the form has multipart data

block append description
    h1 Mentor Registration

block append account-information
    .form-group
        label(for='em') email *
        input#em.form-control(type='text', name='em', minlength='2', placeholder='email', value=input.em || '', required=true)
    .form-group
        label(for='password') password *
        input#secretId.form-control(type='password', name='password', placeholder='****', required=true)
    .form-group
        label(for='confirmSecretId') confirm password *
        input#confirmSecretId.form-control(type='password', name='confirmSecretId', placeholder='****', required=true)

block append basic-information
    .form-group
        label(for='firstname') first name *
        input#firstname.form-control(type='text', name='firstname', minlength='2', placeholder='first name', value=input.firstname || '',  required=true)
    .form-group
        label(for='lastname') last name *
        input#lastname.form-control(type='text', name='lastname', minlength='2', placeholder='last name', value=input.lastname || '', required=true)
    .form-group
        label(for='company-dropdown') company/organization *
        input#company-dropdown.form-control(type='text', name='company', minlength='2', placeholder='company', value=input.company || '', required=true)
    .form-group
        label(for='auth') authorization code *
        input#authorization.form-control(type='text', name='auth', minlength='1', placeholder='auth', value=input.authorization || '',  required=true)

//- noop blocks
block no_school

block no_background

block no_logistics

block no_terms
