//-
   User search

extends ../_layout-admin

block vars
    //initialize variables
    unless render
        - render = "table" //default to table view
    //persist fields
    if params
        - input = params
    else
        - input = {};
    - var input = params || {};

block admin_content
    +contentHeading("Search")
    form.render-option.form-inline
        .form-group.hidden-xs
            label(for='render') Render:&nbsp;
            select#render.form-control(name='render')
                +generateOptions("box table".split(" "),{selected: render})
    #searchparameters.col-md-12
        p All fields are optional.
        form(action='/admin/search', method='GET')
            input(type='hidden', name='render', value=render)/
            .form-group
                label(for='college') Search by College
                input#collegeid.form-control(type='hidden', name='collegeid', value=params.collegeid || '', required=true)/
                input#college.form-control.typeahead(type='text', name='college', placeholder='School Name', value=params.college || '')/
            .form-group
                label(for='categoryselection') Search by Category
                select#categoryselection.form-control
                    option(value='', data-persist='') Select Category
                    option(value='pubid', data-persist=params.pubid || '') Public User Id
                    option(value='email', data-persist=params.email || '') Email
                    option(value='name', data-persist=params.name || '') Name
            .form-group.category-input
            .decision-search
                label Narrow by Decision:
                br
                +generateInlineRadio(["","Accepted","Waitlisted","Rejected","Pending"], {
                    label: "None Accepted Waitlisted Rejected Pending".split(" "),
                    checked: input.status || "",
                    name: "status"
                })
            .form-group
                .checkbox
                    label
                        input#teamwithcornell.checkbox(type='checkbox', name='teamwithcornell',
                        value='true', checked=params.teamwithcornell)
                        | Team with Cornell students
            .form-group
                .form-inline
                    .form-group
                        label(for='going') Going:&nbsp;
                        select#going.form-control(name='going')
                                option(value='') select
                                +generateOptions([true,false], {selected: (input.going || "")})
                    | &nbsp;&nbsp;
                    .form-group
                        label(for='notgoing') No Longer Interested:&nbsp;
                        select#notgoing.form-control(name='notgoing')
                            option(value='') select
                            +generateOptions([true, false], {selected: (input.notgoing || "")})
            fieldset
                button#submit.btn.btn-primary(type='submit') search
    #searchresults.col-md-12
        p#result-count.text-right #{applicants.length} results found.

        if render == 'box'
            include _boxview
        else if render == 'table'
            include _tableview

        if applicants.length == 0
            p No results found.


block append footer
    script(src="/js/vendor/typeahead.bundle.min.js")
    script(src="/js/typeahead_college.js")