//
   Cornell student results-released dashboard

extends ../_layout-dashboard

block vars
    - status = user.internal.status.toLowerCase();

block dashboard_content
    +contentHeading("Dashboard")
    +showMessages(messages)

    p welcome back, #{user.name.first} #{user.name.last}.
    br

    +sectionHeading("status")

    if status == "waitlisted"
        p.long-text
            | Thank you for applying for BigRed//Hacks! With so many hackathons
            | happening this year, we're honored that we were on your list.
        p.long-text
            | We had a record number of applications, and a very limited amount of space. While we
            | aren't able to offer you a spot immediately, you are on our waitlist and we'll reach out to you as soon
            | as one becomes available. Last year, we were able to accept a lot of hackers from our waitlist, so check
            | your email often!
        p.long-text
            | If you aren't interested in coming to BigRed//Hacks at all anymore, then please check
            | the box below. We'll be sad, but it'll be super helpful.
        p.long-text All the best for the future, and keep on hacking!
        p BigRed//Hacks Team
        .form-group
            .checkbox
                label
                    input#notinterested.checkbox(type='checkbox', value="", checked=user.internal.not_interested)
                    | I'm not interested in going anymore.
    else if status == "accepted"
        p.long-text
            | Congratulations - you're in! We're excited to offer you a spot in BigRed//Hacks 2015,
            | taking place on September 18-20 at Cornell University. You'll be one of 400 hackers from universities
            | all across the U.S. coming together to hack, build, and learn.
        p.long-text
            | We'll be sending lots more information as we get closer to the event, so stay
            | tuned!
        p.long-text
            | Please join our
            a(href='https://www.facebook.com/groups/397005627168999/') BigRed//Hacks 2015 Hackers
            |  Facebook group to find partners and plan travel with other students.
        p.long-text Looking forward to seeing you in there,
        p BigRed//Hacks Team
        br
        .form-group
            .checkbox
                label
                    input#cornell-rsvp.checkbox(type='checkbox', value='', checked=user.internal.going)
                    | I'll be able to make it!

    +sectionHeading("resume")
    a.btn.btn-red(href=resumeLink, target='_blank') view my resume
    button#resume-update.btn.btn-red update my resume
    br
    br
    form#resume-form.form-inline(method='post', action='/user/updateresume', style='display:none', enctype='multipart/form-data')
        label upload a new resume (.pdf)
        br
        .form-group.has-error
            input#resumeinput.form-control.filepicker-bootstrap(data-label='upload', type='file', name='resumeinput', accept='.pdf', required='')
        .form-group
            button#resume-save.btn.btn-red(type='submit', disabled='') Save