//-
   Global layout for registration pages

extends _layout


//- overrrideable variables
- var actionUrl = "/register"; //- url the form should submit to
- var multipart = true; //- whether the form has multipart data
- var fluid = false; //-use div.container over div.container-fluid
- var contentFormAttr = {}; //- no extra attrs in form content wrapper
block vars

mixin sectionHeading(name)
    .header-wrapper
        legend.page-title #{name}


block header
    link(href='/css/login.css', rel='stylesheet')

block append content
    //- content header, i.e. navbar goes here
    block navbar

    //- initialize variables
    - var en = enums.user;

    if !input
        - input = {}

    - container = fluid ? "container-fluid" : "container"
    div(class=container,style={"overflow-x": "hidden"},novalidate=true)
        .row
            div&attributes(contentFormAttr || {})
                //- generic flash error
                if messages.error
                    .alert.alert-danger(role="alert") #{messages.error[0]}
                //- form validation errors
                if errors
                    each err in errors
                        .alert.alert-danger(role="alert") #{err.msg}

                //- registration description
                block description

                - multipart = multipart ? "multipart/form-data" : "application/x-www-form-urlencoded";
                - var formattr = {"action": actionUrl, "enctype": multipart};

                form#registrationForm(name="registrationForm", method="POST", autocomplete="on", enctype="multipart/form-data")&attributes(formattr)
                    block no_account-information
                        fieldset
                            block account-information
                                +sectionHeading("account information")

                    block no_basic-information
                        br
                        fieldset
                            block basic-information
                                +sectionHeading("basic information")

                    block no_school
                        br
                        fieldset
                            block school
                                +sectionHeading("school")

                    block no_background
                        br
                        fieldset
                            block background
                                +sectionHeading("background")

                    block no_logistics
                        br
                        fieldset
                            block logistics
                                +sectionHeading("logistics")

                    block no_terms
                        br
                        fieldset
                            block terms
                                +sectionHeading("terms")

                    fieldset
                        block submit
                            button#submit.btn.btn-primary(type="submit") submit

block footer
    script(src='//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js')
    script(src='//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/additional-methods.min.js')
    script(src='/js/jquery.validate.options.js')
    script(src='/js/vendor/typeahead.bundle.min.js')
    script(src='/js/typeahead_college.js')
    script(src='/js/vendor/jquery.filepicker.min.js')
    script(src='/js/register.js')
